[flake8]
max-line-length = 100
extend-ignore = E203, W503
select = B,B9,C,E,F,W
exclude =
    .git,
    .venv,
    node_modules,
    __pycache__,
    custom_components/ble_monitor,
    custom_components/hacs,
    custom_components/teamtracker,
    custom_components/wundergroundpws,
    custom_components/tplink_router
